# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
#.vscode/

#lib/
#*.sh
#Makefile
#CMakeFiles/
#build/
#CMakeCache.txt
#CMakeLists.txt
#*.cmake