# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------
.vscode/

lib/
*.sh
Makefile
CMakeFiles/
Build/
CMakeCache.txt
CMakeLists.txt
*.cmake